*.iml
.gradle
.idea
.classpath
.project
.settings
.gradle
.springBeans
gen/*
env-local-dev.properties
*~
gradlew
gradle.bat
build/
bin/
target/

atlassian-ide-plugin.xml
metadata.md
local-test-config.properties

